.root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 38, 38);
}

.instances-container {
    padding: 32px;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 8px;
 }
