.contracts-container {
   padding: 32px;
   display: grid;
   grid-auto-flow: row;
   grid-row-gap: 8px;
}

.contracts {
   background-color: #4e4e4e;
   min-height: 50px;
   padding: 8px 16px;
   font-size: 18px;
   font-weight: bold;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 0.25fr;
   text-align: left;
   margin-bottom: 8px;
   box-shadow: 5px 5px 10px #181818;
}

.single-element {
   font-weight: normal;
   padding: 0px;
   margin-top: 8px;
   min-height: 0px;
   box-shadow: none;
   margin-bottom: 0;
}

.buttons {
   padding: 8px 8px;
   width: 100%;
   text-align: center;
}

.buttons-contract {
   display: flex;
}

.contract-elements {
   grid-column: span 5;
   text-align: left;
}