.wrapper {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.Login {
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background-color: #4e4e4e;
}

.login-label {
    font-size: 25px;
    text-align: left;
    margin-left: 10%;
    margin-bottom:5%;
}

label {
    font-size: smaller;
    text-align: left;
    margin-left: 5%;
}

.emaillabel {
    margin-bottom: 5%;
}

button {
    background-color: #17a35d;
    padding: 10px;
    margin: 5%;
    color: white;
}

button:hover {
    background-color: #117a45;
}

input {
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #282828;
    color: white;
    padding-block: 10px;
}



