.container {
   padding: 32px;
   display: grid;
   grid-auto-flow: row;
   grid-row-gap: 8px;
}

.flex {
   flex-grow: 1;
   text-align: left;
   height: 50px;
}

.textcenter {
   display: flex;
   height: 100%;
   align-items: center;
}

.singlecontainer {
   background-color: #4e4e4e;
   display: flex;
   box-shadow: 5px 5px 10px #181818;
   padding-left: 16px;
}

.iconscustomer {
   display: flex;
   background-color: red;
   align-items: center;
}

.customicon {
   display: flex;
   padding-left: 16px;
   padding-right: 16px;
   width: 100%;
   height: 100%;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.customicon:hover {
   background-color: #17a35d;
}

.orange {
   background-color: #5a4b46;
}

.orange:hover {
   background-color: #9a4b46;
}

.red {
   background-color: #5d4040;
}

.red:hover {
   background-color: #de4040;
}

.grey {
   background-color: #4e4e4e;
}

.grey:hover {
   background-color: #6e6e6e;
}

.darkgrey {
   background-color: #424242;
}

.darkgrey:hover {
   background-color: #323232;
}