@font-face {
  font-family: 'Fontello';
  src: url('../public/fontello.ttf');
}

html,
body {
  background-color: #282828;
  color: white;
}

.iconfont {
  font-family: fontello;
  font-size: 24px;
}

.content {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin-left: 275px;
  margin-top: 50px;
  z-index: -1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}