.sidebarcontainer {
   position: absolute;
   top: 0px;
   width: 275px;
   background-color: #4e4e4e;
   height: 100vh;
   text-align: left;
   box-shadow: 5px 5px 20px #181818;
}

.topspacer {
   height: 75px;
}

.sidebarcontent {
   width: 100%;
}

.sidebarcontent:hover {
   background-color: #17a35d;
   cursor: pointer;
}

.contentspaces {
   padding: 8px;
}

.iconspace {
   margin-right: 16px;
}

.icons {
   padding-left: 16px;
   cursor: pointer;
}

.icons:hover {
   color: #17a35d
}