.topbarcontainer {
   position: absolute;
   top: 0pX;
   width: 100vw;
   height: 50px;
   background-color: #4e4e4e;
   z-index: 1;
   box-shadow: 5px 5px 20px #181818;
   display: flex;
   align-items: center;
}

.header {
   text-align: left;
   padding-left: 16px;
   vertical-align: middle;
   font-size: 22px;
}

.searchbar {
   position: relative;
   display: flex;
   vertical-align: middle;
}

.searchinput {
   width: 100%;
   height: 100%;
   background-color: #282828;
   border: none;
   padding: 8px;
   color: white;
   font-size: 16px;
   padding-left: 16px;
}

.searchicon {
   position: absolute;
   z-index: 1;
   top: 50%;
   transform: translateY(-50%);
   right: 10px;
   vertical-align: middle;
   font-size: 16px;
}

.right {
   position: absolute;
   right: 16px;
   display: flex;
   align-items: center;
}