.new-user-panel {
   height: 100vh;
   width: 100vw;
   background-color: #00000088;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   display: flex;
   align-items: center;
}

.create-user-panel {
   background-color: #4e4e4e;
   width: 50%;
   margin: 0 auto;
   position: relative;
}

.create-user-header {
   padding: 8px 0px;
   background-color: #282828;
   text-align: left;
   padding-left: 16px;
}

select {
   padding: 8px;
   min-width: 100%;
   background-color: #282828;
   color: white;
   border: none
}

input {
   margin: 0px;
   background-color: #282828;
   color: white;
   border: none;
}

.custom-form {
   text-align: left;
   display: grid;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 0.5fr 1fr;
   grid-column-gap: 8px;
   grid-row-gap: 16px;
   margin: 0px;
   padding: 8px 16px;
}

.footer {
   background-color: #282828;
   width: 100%;
   height: 24px;
}

.checkboxalign {
   text-align: left;
   margin-left: 0;
   margin-right: auto;
}

.footerbuttons {
   width: 100%;
   display: flex;
   grid-column-end: span 2;
}

.new-user-button {
   width: 50%;
   height: 45%;
   border: none;
}

.save-button {
   background-color: #17a35d;
}

.save-button:hover {
   cursor: pointer;
   background-color: #117a45;
}

.cancel-button {
   background-color: #454545;
}

.cancel-button:hover {
   cursor: pointer;
   background-color: #232323;
}