.instances-container {
   padding: 32px;
   display: grid;
   grid-auto-flow: row;
   grid-row-gap: 8px;
}

.instances {
   background-color: #4e4e4e;
   min-height: 50px;
   padding: 8px 16px;
   font-size: 18px;
   font-weight: bold;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 0.25fr;
   text-align: left;
   margin-bottom: 8px;
   box-shadow: 5px 5px 10px #181818;
}

.singlecontainer {
   box-shadow: none;
   font-weight: normal;
}